[submodule "Code/BlackRoot"]
	path = Code/BlackRoot
	url = https://github.com/JeroenDStout/Ap-Code-BlackRoot.git
	branch = public-develop
[submodule "Code/ToolboxBase"]
	path = Code/ToolboxBase
	url = https://github.com/JeroenDStout/Ap-Code-ToolboxBase.git
	branch = public-develop
[submodule "Code/HephaestusBase"]
	path = Code/HephaestusBase
	url = https://github.com/JeroenDStout/Ap-Code-HephaestusBase.git
	branch = public-develop
[submodule "Pipe/PipelineBase"]
	path = Pipe/PipelineBase
	url = https://github.com/JeroenDStout/Ap-Pipe-PipelineBase.git
	branch = public-develop
[submodule "Code/IrisBase"]
	path = Code/IrisBase
	url = https://github.com/JeroenDStout/Ap-Code-IrisBase.git
	branch = public-develop
[submodule "Code/IrisWidget"]
	path = Code/IrisWidget
	url = https://github.com/JeroenDStout/Ap-Code-IrisWidget.git
	branch = public-develop
[submodule "Pipe/IrisBase"]
	path = Pipe/IrisBase
	url = https://github.com/JeroenDStout/Ap-Pipe-IrisBase.git
	branch = public-develop
[submodule "Util/Repo"]
	path = Util/Repo
	url = https://github.com/JeroenDStout/Ap-Util-Repo.git
	branch = public-develop
[submodule "Code/Conduits"]
	path = Code/Conduits
	url = https://github.com/JeroenDStout/Ap-Code-Conduits.git
	branch = public-develop
